.Case {
  position: relative;
}
.Case__title {
  color: #0c2e61;
  font-family: "Oswald Regular", sans-serif;
  font-size: 54px;
  margin: 0;
  margin-top: 95px;
  margin-left: 150px;
}
.Case__container {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-top: 40px;
  margin-left: 52px;
  margin-bottom: 95px;
}
.Case__block {
  background-color: #dfe9f3;
  display: flex;
  flex-direction: column;
  width: 510px;
  border-radius: 19px;
  position: relative;
}
.Case__button {
  border: none;
  background-color: #6c9ce3;
  color: white;
  font-family: "Oswald Regular", sans-serif;
  font-size: 21px;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 139px;
  border-radius: 35px;
  margin-top: 20px;
  margin-bottom: 26px;
  cursor: pointer;
}
.Case__button:hover {
  background-color: #4378c9;
  padding: 17px 152px;
  font-size: 22px;
  margin-bottom: 20px;
}
.content {
  /* Скрываем сразу контент */
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  padding-bottom: 50px;
  border-radius: 20px;
  background-color: #dfe9f3;
}
.content__title {
  font-family: "Oswald Regular", sans-serif;
  font-size: 29.5px;
  width: 364px;
  margin: 0;
  color: #0c2e61;
  padding-top: 50px;
  padding-left: 55px;
}
.content__text {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  color: #0c2e61;
  width: 364px;
  margin-top: 10px;
  padding-left: 55px;
}
.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper a:hover ~ .content {
  /* При наведении на ссылку в раппере, откроется контент */
  display: block;
}
